<form autocomplete="off">
    <h1 class="w3-row">
        <img class="w3-col" style="width: 64px;" src="{{item.img}}" name="{{item.name}}" width="64" height="64">
        <p class="w3-half" style="padding-left: 6px;">{{item.name}}</p>
        <div class="w3-rest w3-row" style="min-width: 4em;">
            <p class="w3-third" style="text-align:right;">23</p>
            <p class="w3-third" style="width: 0.5em;">/</p>
            <p class="w3-third">300</p>
        </div>
    </h1>
</form>