<div class="em_actorInfoContainer">
    <h1 class="w3-round-large w3-center w3-border">
        {{actor.name}}
    </h1>
    <div class="em_portraitContainer">
        <img >
    </div>
    <div class="em_propertiesContainer">

    </div>
</div>