<div class="em_actorInfoContainer">
    <h2 class="w3-round-large w3-border">
        <img id="" class="w3-black w3-round-large" src="{{actor.img}}" name="actor.img" data-edit="img" title="{{actor.name}}" height="32" width="32">
        {{actor.name}}
    </h2>
</div>
{{> "systems/EldritchMadness/templates/partials/actors/actorAttributes-partial.hbs"}}
<div class="em_actorInfo w3-section">

</div>