
{{!-- contains the inventory items and searchbars --}}
<div class="em_actorInventory">
    {{!-- searchbar --}}
    <div class="w3-border em_inputContainer em_halfTopMargin">
        <input id="em_charact_searchbar" class="em_input em_searchbar" data-id="em_charact_search" data-search="startsWith">
        <i class="em_inputIcon fa-solid fa-search"></i>
    </div>
    {{!-- item tags list --}}
    <div class="w3-border em_tagContainer" tagsFor="em_skill_search">
        {{#each (fetch SHEET_FUNCS.inventoryTags '')}}
            <button>alfa</button>
        {{/each}}
    </div>
    {{!-- item list --}}
    <div class="em_actorInventoryItems">
        {{#each (fetch SHEET_FUNCS.inventory '') }}
            <div class="em_actorInventory_item">
                {{this.name}}
            </div>
        {{/each}}
    </div>

</div>
