<div class="w3-bar em_navbar">
    <div class="w3-bar-item w3-hover-black">
        <i class="fa-solid fa-note-sticky"></i>
    </div>
    <div class="w3-bar-item w3-hover-black">
        <i class="fa-solid fa-swords"></i>
    </div>
    <div class="w3-bar-item w3-hover-black">
        <i class="fa-solid fa-heart"></i>
    </div>
    <div class="w3-bar-item w3-hover-black">
        <i class="fa-solid fa-suitcase"></i>
    </div>
</div>