/*#region actor sheet */

    .em_actorSheet {
        min-height: 450px !important;
        min-width: 530px !important;
    }

    .em_actorSheet .window-content {
        overflow: hidden;
        background-image: url("../../resources/images/flipbook/leatherDarkBrownBg.png");
        background-repeat: repeat;
        background-position: center;
        background-size: 280px 224px;

    }

    .em_actorFormContainer {
        box-sizing: border-box;
        max-height: 100%;
    }
/*#endregion */

/*#region navbar */

    .em_navbar {
        padding-top: 24px;
    }

    .em_navbar .em_tabBtn {
        z-index: 100;
        text-align: center;
        padding: 6px 12px !important;
    }

    .em_navbar .em_tabBtn[current="true"] {
        transform: scale(1.1);
    }

    .em_navbar .em_tabBtn:hover {
        box-shadow: none !important; 
    }

/*#endregion */

/*#region flipbook */

    #flipbook {
        margin-left: auto !important;
        margin-right: auto;
        top: 12px;

        max-height: calc(100% - 22px);

        overflow-x: hidden;
        overflow-y: hidden;
    }

    #flipbook .page-wrapper {
        max-height: 100%;
    }

    #flipbook .em_page {
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;
    }

/*#endregion*/

/*#region info */

    /*#region characteristics */

        .em_charact_container {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: baseline;
            
            max-width: 100%;
            width: 100%;
            min-height: 90px;
            max-height: 180px;
            overflow-x: hidden;
            overflow-y: scroll;
        }

        .em_charact {
            margin-bottom: 8px;
            min-width: min(30%, 60px);
        }

        .em_charact_btn {
            cursor: pointer;
        }

        .em_charact_text {
            margin-top: 4px;
            margin-bottom: 4px;
        }

        .em_charact .dropdown-btn {
            width: 100%;
            line-height: 1em;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

    /*#endregion*/
    /*#region skills */

        .em_skill_container {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: baseline;
            
            max-width: 100%;
            width: 100%;
            min-height: 90px;
            max-height: 180px;
            overflow-x: hidden;
            overflow-y: scroll;
        }

        .em_skill {
            display: block;
            margin-bottom: 8px;
            min-width: 7.5em;
            font-size: 0.95em;
            line-height: 1.1em;
        }

        .em_skill .dropdown-btn {
            width: 100%;
            line-height: 1em;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }


    /*#endregion*


/*#endregion*/

/*#region anatomy */

    .em_anatomyContainer {
        margin-top: 8px;
        max-height: 45%;
        height: 45%;

        overflow-y: auto;
        overflow-x: auto;
    }

    .em_anatomyTree {
        padding-left: 0;
    }

    .em_anatomyTreeTitle {
        margin-bottom: 5px;
    }

    .em_anatomyList {
        list-style: none;
    }

    .em_anatomyNode {
        cursor: default;
        margin-bottom: 2px;
        padding: 4px 8px !important;
        overflow: visible !important;
    }

    .em_anatomyBranchIcon {
        font-size: 0.8em;
    }

    .em_anatomyDeleteIcon:hover {
        color : rgb(232, 232, 232);
    }

    /*#region bodypart info*/

        #em_bodypart_id {
            padding: 4px 8px !important;
        }

        .em_bodypartHeader {
            min-height: 1.5em;
            background-color: rgb(0 0 0 / 85%);
            color: #e7e7e7;
            border: none;
            border-bottom: 2px solid black;
        }

        .em_bodypart_conditions {
            margin-top: 5px;
        }

        .em_bodypart_conditionHolder {
            min-height: 10vh;
        }

    /*#endregion*/

/*#endregion*/