/*#region inventory*/


    .em_actorInventory {
        padding: 6px;
    }

    .em_inventoryItems {
        overflow-y: auto;
        max-height: 50vh;
    }

    .em_inventory_item {
        display: block;
        box-sizing: border-box;
        margin-top: 6px;
    }

    .em_inventory_item:last-child {
        margin-bottom: 6px;
    }

    .em_inventory_iconData {
        display: block;
        margin: 0;
        padding: 0;
        margin-left: 2px;
        margin-right: 2px;
        max-width: calc(48px - 4px);
        width: 100%;
    }

    .em_inventory_iconData p {
        font-size: 0.9em;
        line-height: 1em;
        max-height: 1em;
        text-align: center;
    }

    .em_inventory_name {
        padding-left: 0.2em;
        font-size: 1.1em;
        line-height: 2em;
    }

/*#endregion*/