<form class="em_actorFormContainer w3-container" autocomplete="off">
    {{> "systems/EM2E/templates/partials/actors/navbar-partial.hbs"}}
    <div id="flipbook" class="w3-cell w3-rest w3-round" anim="true">
        <div class="hard em_actor_cover w3-border" data-page="1">
            <div class="w3-container w3-section">
                <h3>{{actor.name}} detective journal</h3>
            </div>            
        </div>
        <div class="em_page w3-border-right w3-white w3-border-right" data-page="2">
            <div class="w3-section w3-container em_pageContent">
                {{> "systems/EM2E/templates/partials/actors/actorInfo-partial.hbs"}}
            </div>
        </div>
        <div class="em_page w3-white" data-page="3">
            <div class="w3-section w3-container em_pageContent">
                {{#if (contains actor.system.tags 'human')}}
                    {{!-- if human then it's a passport --}}
                    {{> "systems/EM2E/templates/partials/actors/dataPartials/passportData-partial.hbs"}}
                {{else if (contains actor.system.tags 'beast')}}
                    {{!-- if a beast then it's a bestiary report --}}
                    {{> "systems/EM2E/templates/partials/actors/dataPartials/bestiaryData-partial.hbs"}}
                {{else if (contains actor.system.tags 'machine')}}
                    {{!-- if a machine then it's a detailed machine info report --}}
                    {{> "systems/EM2E/templates/partials/actors/dataPartials/blueprintData-partial.hbs"}}
                {{else}}
                    {{!-- otherwise we use the default page with the minimum amount of data --}}
                    {{> "systems/EM2E/templates/partials/actors/dataPartials/actorData-partial.hbs"}}
                {{/if}}  
            </div>
        </div>
        <div class="em_page w3-border-right w3-white w3-border-right" data-page="4">
            <div class="w3-section w3-container em_pageContent">

            </div>
        </div>
        <div class="em_page w3-white" data-page="5" >
            <div class="w3-section w3-container em_pageContent">
                Page 4-5
            </div>
        </div>
        <div class="em_page w3-border-right w3-white w3-border-right" data-page="6" >
            <div class="w3-section w3-container em_pageContent">
                {{> "systems/EM2E/templates/partials/actors/actorMedicalInfo-partial.hbs"}}
            </div>
        </div>
        <div class="em_page w3-white" data-page="7" >
            <div class="w3-section w3-container em_pageContent">
                Page 6-7
            </div>
        </div>
        <div class="em_page w3-border-right w3-white w3-border-right" data-page="8" >
            <div class="w3-section w3-container em_pageContent">
                
            </div>
        </div>
        <div class="em_page w3-white" data-page="9" >
            <div class="w3-section w3-container em_pageContent">
                Page 8-9
            </div>
        </div>
        <div class="em_page w3-border-right w3-white w3-border-right" data-page="10" >
            <div class="w3-section w3-container em_pageContent">
                {{> "systems/EM2E/templates/partials/actors/actorOptions-partial.hbs"}}
            </div>
        </div>
        <div class="em_page w3-white" data-page="11" >
            <div class="w3-section w3-container em_pageContent">
                Page 10-11
            </div>
        </div>
        <div class="hard w3-black" data-page="12" ></div>
    </div>
</form>