<form autocomplete="off">
    {{#if actor.locked}} 
        {{!-- will display the locked interface where you can try to unlock it with a key or lockpick--}}

        {{#if actor.can_lockpick}}
            {{!-- will show the lockpick button--}}

        {{/if}}

    {{else if actor.destroyed}}
        {{!-- will show the destroyed lock image and you cannot access it --}}

    {{else}}
        {{!-- will show the normal inventory interface --}}
        <div class="w3-cell-row">
            <div class="w3-half">
                {{#if (getUser 'character')}}
                    {{renderPartial 'systems/EM2E/templates/partials/actors/inventory-partial.hbs' (getUser 'character') }}
                {{/if}}
            </div>
            <div class="w3-half">
                {{> "systems/EM2E/templates/partials/actors/inventory-partial.hbs"}}
            </div>
        </div>
        
    {{/if}}
</form>