{{!-- contains the armor view graph and equippable items --}}
{{#if actor.anatomy }} {{!-- it only has an equippable tab if it's a pawn since actor should only have the inventory --}} 
    <div class="em_actor_equippedContainer">
        {{!-- armor visualization graph --}}
        <div class="em_actor_equippedGraph">

        </div>
        {{!-- list of equippable items --}}
        <div class="em_actor_equippableListContainer">

        </div>
    </div>
{{/if}}

    