.em_noShadow, .em_noShadow:hover,.em_noShadow:active  {
    box-shadow: none !important;
}

.em_text_selectable {
    -webkit-user-select: text; /* Safari */
    -ms-user-select: text; /* IE 10 and IE 11 */
    user-select: text; /* Standard syntax */
}

.em_text_unselectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.em_hidden {
    display: none;
}

.em_halfSection {
    margin-top:6px;
    margin-bottom: 6px;
}

.em_halfBottomMargin {
    margin-bottom: 6px;
}

/*#region prefabs */

/*#region bar*/
.em_barContainer .em_barTxt {
    width: 100%;
}

.em_barContainer .em_bar {
    padding:  8px;
}

.em_barContainer.em_barDropdown {
    padding-left: 1em;
}

.em_barContainer .em_barDropdownIcon {
    box-sizing: border-box;
    height: 100%;
    font-size: 1em;
    border: 1px solid grey;
}

/*#endregion*/
/*#region input*/
.em_inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    border: 1px solid black;

    margin-bottom: 2px;
}

.em_input {
    display: block;
    width: 100%;
    max-width: calc(100% - 1em);
    border: none;
}

.em_input:read-only {
    color: rgb(181, 181, 181);
}

.em_inputIcon {
    display: block;
    font-size: 0.9em;
    line-height: 1em;
    padding-right: 5px;
}

.em_form_inputContainer {
    display: flex;
    flex-direction: row;
}

.em_form_inputElement {
    flex: 0.5;
}
/*#endregion*/


/*#endregion*/